*{
    font-family: 'Roboto', sans-serif;
}

.formulario{   
    border: ridge;
    font-size: 15px;
    width: 300px;
    height: 100px;  
    padding: 50px;
  
}

.label{

       
   
    
    
    
   
}