*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ecf0f1;
    box-sizing: border-box;
}
.header{
    height: 90px;
    width: 100%;
    display: inline-block;
    background-color: #2980b9;
}

.header .logo{
    display: inline-block;
    height: 89px;
    clear: both;
    width: 167px;

}

.formulario{
    text-align: center;
    margin: 10px;
}

.caixa{
    font-weight: bolder;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    height: 50px;
    border-radius: 10px;
    
}

.dadosBasicos{
    font-size: 15px;
   
}

.dadosBasicos .descricao{
    font-weight: bold;
    font-size: 14px;
    margin: 16px;
}

.cadastrar{
    padding: 10px;
    text-align: right;
}

       
   
    
    
    
   
