*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: rgb(209, 252, 245);
}

.navbar{
    width: 100%;
    color: rgb(187, 228, 247);
    background-color: rgb(179, 205, 248);
    height: 46px;
}

.logo{
    width: 30px;
    height: 30px;
}
