body{
    background-color: #e2eded;
    font-family: Arial, Helvetica, Sans-serif;
    overflow: hidden;
}

.area-login{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: #2382a5;
}